* {
  box-sizing: border-box;
}
.ql-editor{
  min-height: 250px !important;
  max-height: 500px !important;
  overflow-y: auto
}
body {
  overflow-x: hidden !important;
}
#root {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
